/* ? LISTCOMPONENT.JSX */

.list-component {
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.event-button:hover {
    background-color: brown;
}

.open-list-component {
    width: 100%;
}
